<!doctype html>
<html lang="en" ng-app="map_of_jobs">
	<head>
		<meta charset="utf-8">
        <title>Map of Jobs</title>
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
        <link href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
	</head>
	<body ng-controller="map_of_jobs_controller">
        <h2><strong>Map Of Jobs</strong></h2>
        <div map-lazy-load="https://maps.google.com/maps/api/js"
            map-lazy-load-params="{{googleMapsUrl|angular}}">
            <ng-map center="41,-87" zoom="3"></ng-map>
        </div>
        <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('bower.static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('bower.static', filename='angular/angular.min.js') }}"></script>
        <script src="{{ url_for('bower.static', filename='ngmap/build/scripts/ng-map.min.js') }}"></script>
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyAnGj_CJuLQjEjd94i0MOvQVB4FDLRpdec"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>

	</body>
</html>
